.custom-select-wrapper {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  box-shadow: 0 0.05rem 0.15rem rgba(0, 0, 0, 0.05),
    0 0.05rem 0.15rem rgba(0, 0, 0, 0.1);

  background-color: #fff;
}

.custom-select-selected {
  font-size: 1.875rem;
  font-weight: 100;
  height: 2.25rem;
  padding: 0.5rem 1.9375rem;
  display: flex;
  align-items: center;
  border: none;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
  cursor: pointer;
  outline: none;
}

.custom-select-options {
  background-color: white;
  border: none;
  border-radius: 0.25rem;
  will-change: max-height, opacity, transform;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  z-index: 1;
  gap: 0.25rem;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transform: translateY(-10px);
  transition: max-height 0.4s ease, opacity 0.4s ease, transform 0.4s ease;
  box-shadow: 0 0.05rem 0.15rem rgba(0, 0, 0, 0.05),
    0 0.05rem 0.15rem rgba(0, 0, 0, 0.1);
}

.custom-select-wrapper.open .custom-select-options {
  max-height: 20rem;
  opacity: 1;
  transform: translateY(0);
  overflow-y: auto;
}

.custom-select-option {
  font-size: 1.875rem;
  font-weight: 100;
  padding: 0.5rem 1.9375rem;
  display: flex;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  background-color: white;
  cursor: pointer;
  border: none;
}

.custom-select-option:last-child {
  padding-bottom: 1.375rem;
}

.custom-select-option:hover {
  background-color: #f0f0f0;
}

.dropdown-arrow {
  margin-left: auto;
  transition: transform 0.4s ease;
}

.rotate {
  transform: rotate(180deg);
}
