.common-button {
  width: 17.0625rem;
  height: 3.25rem;
  color: white;
  border: none;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  box-shadow: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.2);
}

.common-button.green {
  background-color: #4caf50;
}
.common-button.green:hover {
  background-color: #45a045;
}

.common-button.red {
  background-color: #ec5937;
}
.common-button.red:hover {
  background-color: #d64d2f;
}

.common-button.gray {
  background-color: #737373;
}
.common-button.gray:hover {
  background-color: #5c5c5c;
}
