.visitors-table-wrapper {
  padding: 0 3.125rem;
  background-color: #fff;
  margin-top: 8.5rem;
  margin-bottom: 9.189rem;
  max-height: calc(100vh - 9.189rem - 8.5rem);
}

.visitors-table {
  width: 100%;
  border-collapse: collapse;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

.visitors-table thead {
  display: table;
  width: 100%;
  table-layout: fixed;
  background-color: #fff;
  z-index: 2;
}

.visitors-table tbody {
  display: block;
  max-height: calc(100vh - 9.189rem - 8.5rem - 3.1rem);
  overflow-y: auto;
  width: 100%;
}

.visitors-table tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.visitors-table th {
  padding: 0.75rem 0rem;
  color: #4e3000;
  font-weight: 500;
  font-size: 1.25rem;
  text-align: left;
  border-bottom: 3px solid #e9e9e9;
}

.visitors-table td {
  padding: 0.75rem 0rem;
  text-align: left;
  font-size: 1.875rem;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}

.presence-dot {
  display: inline-block;
  width: 3.688rem;
  height: 3.688rem;
  border-radius: 50%;
  margin-left: 2.75rem;
}

.present {
  background-color: #80bb00;
}

.absent {
  background-color: #ec5937;
}

.visitors-table td:first-child,
.visitors-table th:first-child {
  text-align: left;
  width: 10.74vw;
  padding-left: 0;
}

.visitors-table td:nth-child(2),
.visitors-table th:nth-child(2) {
  width: 24.9vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.visitors-table td:nth-child(3),
.visitors-table th:nth-child(3) {
  width: 19.6vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.visitors-table td:nth-child(4),
.visitors-table th:nth-child(4) {
  width: 25vw;
  min-width: 200px;
}

.visitors-table td:nth-child(5),
.visitors-table th:nth-child(5) {
  width: 9vw;
  min-width: 80px;
  text-align: center;
}
